opendkim/opendkim.conf.5.in: update

The description says Boolean values default to "false". It is redundant to state that the defaults for DomainKeyCompat and ResignAll are false.

MinimumKeysBits states "The default is 1024, which accepts all signatures. A value of 0 causes the default to be used." There are 768bit signatures today, so that 0 means indeed all signatures are checked, but 1024 -the default - does not mean that all signatures are checked.

ReplaceRule states 'This can be used to accommodate expected changes such as are made to From: fields by MTA "masquerade" features.' -- needs rephrasing.

ScreenPolicyScript states "The script has access to all of the header fields and connection information and can that certain signatures be ignored based on that information." This needs rephrasing.

TemporaryDirectory speaks about libdkim but means libopendkim.

Copy of https://sourceforge.net/p/opendkim/bugs/263/.
```diff

diff --git a/opendkim/opendkim.conf.5.in b/opendkim/opendkim.conf.5.in
index 9046a1cd..127c5e69 100644
--- a/opendkim/opendkim.conf.5.in
+++ b/opendkim/opendkim.conf.5.in
@@ -233,7 +233,6 @@ is defined.
 .I DomainKeysCompat (boolean)
 If set, backward compatibility with DomainKeys (RFC4870) key records is
 enabled.  When not set, such keys are considered to be syntactically invalid.
-The default is "false".
 
 .TP
 .I DontSignMailTo (dataset)
@@ -507,7 +506,7 @@ for all addresses.
 .TP
 .I MilterDebug (integer)
 Sets the debug level to be requested from the milter library.  The
-default is 0.
+highest useful value is six.
 
 .TP
 .I Minimum (string)
@@ -533,8 +532,7 @@ valid.
 .I MinimumKeyBits (integer)
 Establishes a minimum key size for acceptable signatures.  Signatures with
 smaller key sizes, even if they otherwise pass DKIM validation, will me marked
-as invalid.  The default is 1024, which accepts all signatures.  A value of
-0 causes the default to be used.
+as invalid.  The default is 1024.  A value of 0 accepts all signatures.
 
 .TP
 .I Mode (string)
.I Mode (string)
@@ -789,7 +787,7 @@ setting.  By default, all header fields are included.
 Specifies a file containing a list of text replacement rules that are
 applied to the message header fields to replace certain content expected to be
 changed as the message passes through local MTAs.  This can be used to
-accommodate expected changes such as are made to From: fields by MTA
+accommodate expected changes such as those made to From: fields by MTA
 "masquerade" features.  Each entry in the file consists of a POSIX regular
 expression, followed by a tab (ASCII 9), followed by the text that should
 be used to replace the text matching the expression.  The '#' character
@@ -836,7 +834,6 @@ Where
 .I ResignMailTo
 triggers a re-signing action, this flag indicates whether or not all mail
 should be signed (if set) versus only verified mail being signed (if not set).
-The default is "false".
 @RESIGN_MANNOTICE@
 
 .TP
@@ -871,7 +868,7 @@ Gives the name of a Lua script that should be run after all of the header
 fields have been processed for a message; in particular, this is useful
 after all DKIM signatures have been detected and initial evaluation has
 been done.  The script has access to all of the header fields and connection
-information and can that certain signatures be ignored based on that
+information and can determine that certain signatures be ignored based on that
 information.  See
 .I opendkim-lua(3)
 for details. @LUA_MANNOTICE@
@@ -1080,6 +1077,10 @@ data from a single repoter.
 If set, instructs the DKIM library to refuse processing of a message if the
 header field count does not conform to RFC5322 Section 3.6.
 
+.TP
+.I StatisticsPolicyScript (string)
+The statistics script is run after all of the DKIM verification and signing work has been completed but before any final message handling is done. The main purpose of this script is to give the user an opportunity to examine the message or its signatures and make arbitrary additional statistical observations that should be recorded by the statistics module.
+
 .TP
 .I StrictTestMode (Boolean)
 Selects strict CRLF mode during testing (see the
@@ -1121,7 +1122,7 @@ messages.
 .I TemporaryDirectory (string)
 Specifies the directory in which temporary canonicalization files should
 be written.  The default is to use the
-.I libdkim
+.I libopendkim
 default location, currently
 .I /tmp.
 
```

even if it seem to be retundant: explicit mention the default is good practice

For other booleans nothing explicit is said about the default value, hence right now it is inconsistent.  If the default values are stated explicitly, then this has to be done everywhere, and the clarification for implicit false boolean, unless otherwise stated, removed.

in that sense you're right. Defaults should be states for all options
could that issue be tagged as feature request and be renamed?

I consider both changing the subject and tagging for insignificant here.