Documentation suggestions for OversignHeaders/SignHeaders/OmitHeaders

The opendkim.conf(5) manpage states in the "OversignHeaders" section:

    Note that listing a field name here and not listing it in the
    SignHeaders list is likely to generate invalid signatures.

That means that you require the user to know if a header to be oversigned
is in SignHeaders or not.

However, the manpage does not clearly state which headers are in
SignHeaders by default.

The manpage states in the "SignHeaders" section:

    By default, those fields listed in the DKIM specification as
    "SHOULD" be signed (RFC6376, Section 5.4) will be signed by
    the filter.

But RFC6376 doesn't list any headers that "SHOULD" be signed.
In section 5.4.1, there is a list of "Common examples" including
one "REQUIRED" (From). There are no SHOULDs there.

Is that list of common examples what was intended?
Exactly that list? i.e.

    From Reply-To Subject Date To Cc
    Resent-Date Resent-From Resent-To Resent-Cc
    In-Reply-To References
    List-Id List-Help List-Unsubscribe List-Subscribe
    List-Post List-Owner List-Archive

If so, please state it clearly in the manpage (and fix the reference
to "SHOULD").

If a user wants to oversign a header, there's too much effort required
in order to find out if they need to define SignHeader as well, and what
goes in it.

It should be possible to just uncomment a line containing the default
definition, and add to it.

Friends don't make friends read RFCs.
Actually, that's not right.
Friends *do* make friends read RFCs. :-)

Also, is it possible to add to the default SignHeaders value rather than
completely redefine it? Such a method is documented in the manpage (only)
for OmitHeaders, but not for SignHeaders or OversignHeaders. i.e. I would
like to think that this would work:

    SignHeaders *,+Content-Type
    OversignHeaders From,Content-Type

But there's nothing in the manpage (or the sample opendkim.conf) to tell me
that that is supported. Is it? If so, it should be documented that it works.

Maybe I have to do this instead:

    SignHeaders From,Reply-To,Subject,Date,To,Cc,Resent-Date,Resent-From,Resent-To,Resent-Cc,In-Reply-To,References,List-Id,List-Help,List-Unsubscribe,List-Subscribe,List-Post,List-Owner,List-Archive,Content-Type
    OversignHeaders From,Content-Type

I hope that's not the case, but that's what the documentation leads me to expect.

What would be awesome would be to change the behaviour so that if a
header is included in OversignHeaders, then it is automatically added to
SignHeaders if it is not already there. That would result in less effort for the user.
There would be no need for the user to change SignHeaders as a consequence
of wanting to change OversignHeaders. But the documentation changes would
still be worthwhile.

Also, while the sample opendkim.conf does state that OmitHeaders, SignHeaders
and OversignHeaders are comma-separated, the manpage doesn't mention this.
A user that only encounters the manpage (or encounters it first) is given no idea
exactly *how* to supply header names for these parameters. It could have been
commas, spaces, colons, or something else.

The default opendkim.conf in the debian package doesn't mention it either.
I found it on the web before finding out that the sample is in /usr/share/doc/opendkim.
So having it documented in the manpage would be great.

So, my suggestions are:

In the opendkim.conf(5) manpage:

  * Explicitly list the SignHeaders default value
  * Document *,- and *,+ behaviour for SignHeaders/OversignHeaders (or implement it and then document it)
  * Document the fact that OmitHeaders/SignHeaders/OversignHeaders values are comma-separated lists

In the sample opendkim.conf:

  * Add explicit SignHeaders default value
  * Add examples of *,- and *,+ for OmitHeaders/SignHeaders/OversignHeaders

For bonus points:

  * Automatically add OversignHeaders fields to SignHeaders if not already present 

I'd be happy to make the documentation/sample changes as a patch or pull request if you'd like.
I'd need to know if the *,- and *,+ facility applies to SignHeaders and OversignHeaders.

It LOOKS like these are supported as well -- I don't see anything different in the handling of one of these versus the other, but I'm waiting for additional confirmation.  If you want to come up with a pull, please base it on the develop branch.

I've realised that the `*,+hdr` and `*,-hdr` notation would work for `OversignHeaders` (and `SenderHeaders`) but it's irrelevant for them since they have no default/base list to modify, so it's not worth documenting the fact. Only `OmitHeaders` and `SignHeaders` have a default/base list.

I'm preparing a pull request that makes the other doc/config changes described above, but I have a question about something that isn't clear to me from the documentation. Which is the correct syntax for adding/removing multiple headers from a default list?

Is it:

    SignHeaders *,+header1,header2,...
    SignHeaders *,-header1,header2,...

or:

    SignHeaders *,+header1,+header2,...
    SignHeaders *,-header1,-header2,...

If it's the latter, is this possible?:

    SignHeaders *,+header1,-header2

I couldn't easily tell from the code, and I want to put commented-out examples in `opendkim.conf.sample` to make it clear.

Also, I don't think I should add the feature that any header added to `OversignHeaders` is automatically added to `SignHeaders`. It looks like `dkimf_db_open()` creates and populates a CSL (comma-separated list) database, but there's no easy way to add to an existing database. If it could modify an existing CSL database, I could call it once for `OversignHeaders` and then call it again for `SignHeaders`. Doing this would take a better understanding of the code and a better testing environment than I have. And the extra documentation should make it easy enough to get it right.

I didn't even realise that the directives can only be supplied once. It makes sense in general, of course, but I should probably add a mention of this fact in the paragraph describing the `*,+hdr` and `*,-hdr` notation. It would be natural to assume that they could be used multiple times.

Rather than wait for an answer to the above (we're all busy), I have just created a pull request that assumes that the *,+header1,-header2 notation works, and shows examples of it in the config sample. If that's wrong, I'll change the pull request.

The four substantive doc improvements raised here have been applied in PR #292:

- Fixed the RFC reference (Section 5.4 has no SHOULD list; correct reference is Section 5.4.1 "Common examples")
- Explicitly listed the default SignHeaders set in the manpage
- Documented the `*,+hdr` / `*,-hdr` delta syntax for SignHeaders (same as OmitHeaders already had)
- Clarified that the value is comma-separated

PR #172 from @rafork covered the same ground but is no longer mergeable due to branch drift.

I would also suggest to oversign (at least) the From header by default?

I'm adding that to the sample docs, but I'd rather not make code changes that alter existing behavior people may rely on already.

Reopening to track one remaining item from the original discussion: making `OversignHeaders = From` the actual compiled/shipped default, not just a recommendation in the sample config.

The doc improvements from PR #292 landed, but the suggestion from @ghen2 to oversign `From` by default was deferred at the time to avoid changing existing behavior. On reflection, the concern doesn't hold up: the only users affected are those who haven't set `OversignHeaders` at all, and for them, defaulting to oversign `From` is strictly more secure with no legitimate downside.

This is directly relevant to the attack documented in https://noxxi.de/research/breaking-dkim-on-purpose-and-by-chance.html — oversigning `From` cryptographically blocks downstream insertion of additional `From:` headers, which is the class of attack that research describes.

Plan: add `OversignHeaders From` as the default in `opendkim.conf.sample` (uncommented), and set it as the compiled-in default so it applies even without a config entry.

So I've fixed the docs.  I'm loathe to introduce a behavior change "Hey why is this extra field showing up, I didn't ask for that", and the idea that the software is saying "hey I'm signing these two headers (one of which isn't present)" isn't super obvious at a first read.  If you're the kind of person who reads mail headers for fun.

So I need to call it out in the release notes pretty hard if we do it.

If we're doing the Noxxi's thing, we'd friggin oversign *Every* header, but the attack surface is different there: since spoofing/authentication (and especially downstream milters like Dmarc) apply to From: that's the most important one.

> If we're doing the Noxxi's thing, we'd friggin oversign _Every_ header, but the attack surface is different there: since spoofing/authentication (and especially downstream milters like Dmarc) apply to From: that's the most important one.

A bit like [Rspamd](https://docs.rspamd.com/modules/dkim_signing/#sign-headers) does?

Okay, so this started as what seemed like a Documentation question, and we've gone down a bit of a hole.  So my fix here is MOSTLY documentation.  (In #398)

* OmitHeaders and Signheaders honor the *,+.- method, OversignHeaders presently does not, since it does not have a default value to modify.

* We point at RFC 6376 §5.4.1, where they are listed, but we don't spell them out.  @raforg is correct that it's not an RFC2119 "SHOULD", even though that's the name of the data structure.

```
/* recommended list of headers to sign, from RFC6376 Section 5.4 */
const u_char *dkim_should_signhdrs[] =
```

Maybe that's what OpenDKIM "should" sign versus SHOULD sign, it's semantics.

The full list is: From, Reply-To, Subject, Date, To, Cc, Resent-Date, Resent-From, Resent-To, Resent-Cc, In-Reply-To, References,List-Id, List-Help, List-Unsubscribe, List-Subscribe, List-Post, List-Owner, List-Archive.  I've clarified in the sample config both that it's not capital-SHOULD and actually listed it out.

* While we're at it, adding something (manually) to both `SignHeaders` and `OmitHeaders` is possible.  `OmitHeaders` wins.  I'm adding a startup warning about this too.

* In the sample config, we are adding: (uncommented by default):

`SignHeaders *,+Content-Type, +MIME-Version,+Content-Transfer-Encoding`

* In the sample config we're setting `OversignHeaders From` (which is safe from being omitted because From is the only RFC-required header, and it's the one that downstream milters consume.)  Protecting a message being mis-marked as legitimate is first-order, other modification attacks are second-order.

* In the sample config we've also seriously spelled out that `SignHeaders` means "sign these only if they're present in the message" and `OverSignHeaders` means "sign these regardless, they must be in the other set too".

* Allowing users to Oversign headers without their being present in SigningSet will now produce a startup warning.

* "Dataset" does a lot of heavy lifting in the sample files.  Any item that uses the *,+ syntax will call it out first, even if (under the hood, in the code) it's actually still a dataset from a database abstraction POV. (tweaked, have a look at both opendkim.conf.sample and opendkim.conf.5.in)

* If a user wanted to be paranoid, they could set:

`SignHeaders *,+Content-Type, +MIME-Version,+Content-Transfer-Encoding`
and
`OversignHeaders From, Reply-To, Subject, Date, To, Cc, Resent-Date, Resent-From, Resent-To, Resent-Cc, In-Reply-To, References,List-Id, List-Help, List-Unsubscribe, List-Subscribe, List-Post, List-Owner, List-Archive,Content-Type,MIME-Version,Content-Transfer-Encoding` 

...as I think @raforg calls out.  We don't need a code change to do this.  We ship seatbelts and airbags.  If you want a rollcage and a helmet, have at it.  There are lots of sites that will give you "most-secure non-default setups" like cipherlist.eu and nobody's filing apache CVE's because those aren't the default settings.

* I've thought about adding an option (`ParanoidSigning yes` or something) that does this by default, but there could be breakage.  The config allows you to do this if you want.  I don't know what an `h=` value like that will do inside Big Mailbox. 

* I don't know what RSPAMd does.  Telling me what it does brings me back to when I worked retail at a music store (remember those?) in my youth and customers would tell me "it's cheaper at this other store".  Well, then go to that other store!

* While I'm under the docs hood, I clarified some of the values of the "On-" fusebox settings in the sample config.

* We're still at the mercy of MUAs that happily render `"Bill Gates" <scammer@hotmail.com>` as just "Bill Gates" to the user, and nobody's filing CVE's against Apple or Microsoft for this.

(Edits: formatting, markdown)

One more thing, I had considered adding a different knob that basically adds oversignheaders to signheaders (which only show up when they actually appear in the message), by just doubling the h= list.  That's not quite your "bonus" item, but it's super easy to do, it's a config knob and a printf.  It doesn't protect against addition of fields NOT in the message, but it protects against modification of whatever is.  If you think that's worthwhile, feel free to push a PR.  Anything else is a more extensive code change.