Body with specified length doesn't end with CRLF will trigger 'CRLF at end of body missing'

OpenDKIM will only receive message body with length specified in DKIM signature (`l=`), and reply SMFIS_SKIP to MTA. Thus, the body does not have to be ended with CRLF and should not trigger `CRLF at end of body  missing` if CRLF is not exist.

According to the [section 3.7 of RFC6376](https://tools.ietf.org/html/rfc6376#section-3.7), 
```
the Signer/Verifier MUST hash the message body,
   canonicalized using the body canonicalization algorithm specified in
   the "c=" tag and then truncated to the length specified in the "l="
   tag.
```
In addition to that, the "simple" and "relaxed" body canonicalization algorithm both suggest that if body is not empty and have no trailing CRLF, a CRLF is added. So, OpenDKIM should just append a CRLF to the body if body doesn't end with CRLF.

I suggest that [this if-else block](https://github.com/trusteddomainproject/OpenDKIM/blob/5c539587561785a66c1f67f720f2fb741f320785/libopendkim/dkim-canon.c#L1940-L1951) should be replaced by the [if block](https://github.com/trusteddomainproject/OpenDKIM/blob/5c539587561785a66c1f67f720f2fb741f320785/libopendkim/dkim-canon.c#L1942-L1945).

You're mostly right.  This should still be an error when "l=" wasn't used in the signature.


Ah, yes. When the whole body is not actually ended with CRLF and there isn't `l=` in signature, OpenDKIM should throw syntax error. Otherwise, OpenDKIM should not care about CRLF at the end of body.

Fixed in PR #339 - when l= is present in a signature (canon_remain != -1), a body without a trailing CRLF is valid per RFC 6376 section 3.7 and no longer raises DKIM_STAT_SYNTAX. Tests added in t-test206 (l= truncation succeeds) and t-test207 (no l= still returns DKIM_STAT_SYNTAX).